#main-navbar {
  background-color: blue;
  overflow: hidden;
}
#navbar-container {
  width: 100%;
  position: relative;
  float: left;
}
#main-navbar ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  display: block;
  float: left;
  right: 50%;
  position: relative;
} 
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
}
#onpage {
  text-decoration: underline overline;
}
#sidebar {
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
  position: fixed;
}
#sidebar ul li a {
  color: #fff;
  padding: 15px 0;
  text-decoration: none;
  display: block;
}
#sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
#sidebar ul li a:hover {
  background-color: #000;
}
